:root {
  --accent-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", system-ui;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", system-ui;
  font-weight: 500;
}
h2 {
  font-size: 64px;
  font-weight: 700;
}
h4 {
  font-size: 48px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  line-height: 30px;
}
nav a {
  text-decoration: none;
  color: #272142;
}
nav a:hover,
nav li.active a {
  color: var(--accent-color);
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}
.hero p {
  color: #272142;
  font-size: 24px;
  font-weight: 400;
}
.hero h1 {
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 30px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-section {
  padding: 140px 20px;
}
.main-section h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}
.main-section h2 {
  color: #272142;
  font-size: 18px;
  font-family: var(--default-font-family);
}
.main-section h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 15px;
}
.main-section p {
  color: #272142;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.8;
}
.project-paragraphs {
  color: #272142;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}
.btn-accent {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  margin-top: 30px;
}
.btn-accent:hover {
  background-color: var(--accent-color);
  color: black;
}
.introduction-paragraphs {
  margin: 60px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.project-wrapper {
  margin: 30px 0 0 20px;
}
.button-projects {
  margin-top: 10px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  padding: 18px 30px;
}
.button-projects:hover {
  border: 1px solid var(--accent-color);
  color: black;
}
footer {
  margin: 40px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 80px;
  border-radius: 5px;
}
footer .contact-box p {
  font-size: 18px;
  opacity: 0.8;
}
footer .email-link {
  text-decoration: none;
  color: #272142;
  font-size: 24px;
  margin: 30px 0;
}
footer .email-link:hover {
  color: var(--accent-color);
}
footer .social-links a {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  margin: 0 20px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--accent-color);
}
@media (max-width: 768px) {
  nav a {
    font-size: 12px;
  }
  .hero {
    padding: 60px 20px;
  }
  .hero h1 {
    font-size: 55px;
  }
  .hero h2 {
    font-size: 26px;
  }
  .introduction-paragraphs {
    margin: 20px 20px;
  }
  .project-wrapper {
    text-align: center;
    margin: 10px 10px;
  }
  .project-wrapper h2 {
    font-size: 46px;
  }
  .main-section {
    text-align: center;
    padding: 60px 20px;
  }
  .main-section h1 {
    font-size: 50px;
    line-height: 65px;
  }
}
